<% provide :title, 'Sign In' %>
<div class="row">
  <div class="col-md-4"> </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        登录系统
      </div>
      <div class="panel-body">
        <%= form_for :session, url: login_path do |f| %>
          <div class="form-group">
            <%= f.label :email, "电子邮件" %>
            <%= f.email_field :email, placeholder: 'Email', class: 'form-control input-sm'  %>
          </div> 
          
          <div class="form-group">
            <%= f.label :password, "用户密码" %>
            <%= f.password_field :password, placeholder: 'Password', class: 'form-control input-sm' %>
          </div>
          
          <div class="checkbox">
            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me  %>
              在这台电脑上记住我
            <% end %>
          </div>
          
          <%= f.submit "用户登录", class: 'btn btn-success btn-sm form-control' %>
        <% end %>
      </div>
    </div>
  </div> 
  <div class="col-md-4"> </div>
</div>
