<% provide :title, 'Sign Up' %>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  <div class="panel panel-default">
    <!--<div class="panel-heading">-->
    <!--  <h4 class="panel-title">注册新用户</h4> -->
    <!--</div>-->
    <div class="panel-body">
      <%= form_for @user, url: signup_url do |f| %>
        <%= render 'layouts/error_messages' %>
        <div class="form-group">
          <%= f.label :name, '请使用姓名的全拼（小写）' %>
          <%= f.text_field :name, placeholder: 'Name', class: 'form-control input-sm'  %>
        </div>
        <div class="form-group">
          <%= f.label :nickname, '请填写真实姓名（汉字）' %>
          <%= f.text_field :nickname, placeholder: 'RealName', class: 'form-control input-sm'  %>
        </div>
        
        <div class="form-group">
          <%= f.label :email, '电子邮件地址' %>
          <%= f.email_field :email, placeholder: 'Email', class: 'form-control input-sm'  %>
        </div> 
        
        <div class="form-group">
          <%= f.label :password, '用户密码' %>
          <%= f.password_field :password, placeholder: 'Password', class: 'form-control input-sm' %>
        </div>
        
        <div class="form-group">
          <%= f.label :password_confirmation, '用户密码确认' %>
          <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control input-sm' %>
        </div>
        
        <%= f.submit "创建账户", class: 'btn btn-success btn-sm form-control' %>
      <% end %>
    </div>
  </div>
  </div> 
  <div class="col-md-4"></div>
</div>
