<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @user.nickname %>的周报 &#9679; 共 <%= @reports.count %> 篇
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <td width="60%">周报内容</td>
              <td>创建时间</td>
              <td>周数</td>
              <td>详细内容</td>
            </tr>
          </thead>
          <tbody>
            <% @reports.each do |report| %>
              <tr>
                <td><%= truncate(markdown(report.content).html_safe, escape: false, length: 100) %></td>
                <td><%= report.created_at %></td>
                <td>
                  <%= report.created_at.strftime("%Y") %> 年
                  第 <%= report.created_at.strftime("%U").to_i + 1 %> 周
                </td>
                <td>
                  <%= link_to '查看', user_report_url(@user, report) %>
                  <%= link_to '编辑', edit_user_report_url(@user, report) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= will_paginate @reports %>
  </div>
</div>
